/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --color1: #cee1d8;
    --color2: #f6eee0;
    --color3: #fda664;
    --color4: #f04842;
    --color5: #83563f;
}

.head {
    background-color: var(--color1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

.title {
    margin-right: auto;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--color4);
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login {
    color: var(--color3);
    padding: 0.5rem 1rem;
    border: solid 2px var(--color3);
    border-radius: 8px;
    text-decoration: none;
    background: none;
    font-size: 1rem;
}

.login:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color3);
    color: whitesmoke;
}

.signup {
    font-size: 1rem;
    border-radius: 8px;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    background-color:var(--color4);
}

.signup:hover {
    border-radius: 8px;
    background-color: #f2322c;
    color: white;
    cursor: pointer;
}

.hero {

    height: 95vh;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 22);
    font-size: 2rem;
    background: var(--color2);

}

.hero-title,
.hero-description {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--color5);
}
.hero-title-resaltado{  
    color: var(--color3);
}