:root {
    --color1: #f2e9c6;
    --color2: #f6eee0;
    --color3: #fda664;
    --color4: #f04842;
    --color5: #83563f;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color5);
    border-radius: 12px;
    border: solid 4px var(--color3);
    color: var(--color3);


    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    min-height: 150px;
    transition: box-shadow 0.2s;
}

.category-card:hover {
    cursor: pointer;
    background: var(--color1);
    color: var(--color5);
    border: solid 4px var(--color5);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
    transform: translateY(-8px);
    transition: box-shadow 0.2s, transform 0.3s;
}